@charset "UTF-8";
.titulo-principal {
  font-size: 60px;
  font-weight: center;
  font-family: "Arial";
  color: #555555;
  text-decoration: none;
  text-align: center;
}

.titulo {
  font-size: 50px;
  font-weight: 400px;
  font-family: "Arial";
  color: #555555;
  text-decoration: none;
  text-align: start;
}

nav {
  background-color: #D6CCC2;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
nav ul a {
  font-size: 20px;
  font-weight: 400px;
  font-family: "Arial";
  color: white;
  text-decoration: none;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 18px;
  font-weight: 400px;
  font-family: "Outfit";
  color: #555555;
  text-decoration: none;
  text-align: center;
}


li {
  margin: 10px;
}

#foto-perfil {
  border: none;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

aside {
  text-align: center;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  padding: 20px;
  background-color: #f5ebe0;
}

.footer {
  grid-area: footer;
  color: #555555;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: end;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer a {
  color: #555555;
}

.subtitulo {
  font-size: 30px;
  font-weight: 400px;
  font-family: "Arial";
  color: black;
  text-decoration: none;
  text-align: start;
}

.subtitulo-h3 {
  font-size: 18px;
  font-weight: 400px;
  font-family: "Arial";
  color: black;
  text-decoration: none;
  text-align: start;
}

.github {
  font-size: 80px;
  font-weight: 400px;
  font-family: "Arial";
  color: black;
  text-decoration: none;
  text-align: start;
}
.github a {
  font-size: 18px;
  font-weight: 400px;
  font-family: "Arial";
  color: black;
  text-decoration: underline;
  text-align: center;
}

.content-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
  padding: 0px, 50px;
}

.flex-content {
  min-height: 100px;
  min-width: 200px;
  background-color: #EDE0D4;
  margin: 20px;
  padding: 20px;
  align-content: center;
  text-align: center;
}

.mensaje {
  min-height: 200px;
  min-width: 200px;
}

.button {
  font-size: 15px;
  font-weight: 400px;
  font-family: "Arial";
  color: black;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #D5BDAF;
  padding: 10px;
}
.button:hover {
  background-color: white;
}

/* Visualizacion para pantallas tamaño mobile*/
@media (max-width: 768px) {
  .grid-container {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "header" "main" "footer";
  }
  .header {
    grid-area: header;
  }
  .main {
    grid-area: main;
    padding: 10px;
    text-align: center;
  }
  .main ul {
    list-style: none;
  }

  .footer {
    grid-area: footer;
  }
  .subtitulo, .subtitulo-h3 {
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
/* sass --watch style.scss style.css */

/*# sourceMappingURL=style.css.map */
